# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# Production Build Artifacts
/build

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Environment Variables
# ALWAYS keep .env.local, .env.development.local, and .env.production.local private
.env
*.local

# Vercel Deployment Configurations
.vercel

# TypeScript / IDE cache
*.tsbuildinfo
.eslintcache
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

ctp_demo.pdf
.env.local
